<link rel="stylesheet" href="css/footer.css">

<div class="footer">
  <div class="info">
    <div class="localization">
      <div class="">
        <p>3862  Edington Drive</p>
        <p>Smyrna, 30082 GA</p>
        <div class="maps">
          <a href="https://www.google.es/maps" target="_blank">See localization</a>
        </div>
      </div>
    </div>

    <div class="service">
      <div class="lunch">
        <h3>LUNCH</h3>
        <p>Order food from 10:00 to 15:00</p>
      </div>
      <div class="dinner">
        <h3>DINNER</h3>
        <p>Order food from 19:00 to 22:00</p>
      </div>
    </div>

    <div class="contact-info">
      <div class="">
        <p>Phone</p>
        <strong>645 299 422</strong>
      </div>
      <div class="email">
        <p>Email</p>
        <strong>info@toshikoshi.com</strong>
      </div>
    </div>

    <div class="links">
      <div class="">
        <a href="/privacy">PRIVACY</a>
      </div>
      <div class="">
        <a href="/cookies">COOKIES</a>
      </div>
      <div class="">
        <a href="/legal">LEGAL NOTICE</a>
      </div>
      <div class="">
        <a href="/terms">TERMS AND CONDITIONS</a>
      </div>
      </div>
  </div>

  <div class="social">
    <div class="twitter"><a target="_blank" href="https://twitter.com/"><i class="fab fa-twitter"></i></a></div>
    <div class="instagram"><a target="_blank" href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a></div>
    <div class="facebook"><a target="_blank" href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a></div>
    <div class="tumblr"><a target="_blank" href="https://www.tumblr.com/"><i class="fab fa-tumblr"></i></a></div>
  </div>

  <p class="cr">© 2021 Jaime Canovas. All rights reserved.</p>
</div>
