<link rel="stylesheet" href="css/navbar.css">

<div class="navbar">
  <div class="navbar-container">
    <div class="home">
      <a href="/">HOME</a>
    </div>
    <div class="navbar-menu">
      <a href="/order" class="navbar-order">ORDER</a>
      <a href="/cart" class="navbar-cart"><i class="fas fa-shopping-cart"></i></a>
      <a href="/dashboard" class="navbar-account"><i class="fas fa-user-circle fa-2x"></i></a>
      <a id="login">LOGIN</a>
      <a id="register">REGISTER</a>
    </div>
  </div>
</div>
