<link rel="stylesheet" href="css/product-modal.css">

<div class="product-container" id="product">
  <div class="product-img">
    <img src="" alt="">
  </div>
  <div class="product">
    <div class="">
      <h2 class="product-title"></h2>
      <h2 class="product-price"></h2>
    </div>
    <p></p>
    <form class="" action="/cart" method="post">
      <button type="submit" name="addToCart">ADD TO CART</button>
    </form>
  </div>
</div>
