<div class="recover-pass">
  <form class="" action="#" method="post">
    <h2>FORGOT YOUR PASSWORD?</h2>
    <p>Enter your email address to reset your password</p>
    <div class="">
      <input id="recover-email" type="email" placeholder="EMAIL">
      <i class="fas fa-envelope"></i>
      <span class="span-validation"></span>
    </div>
    <button type="submit" name="button">RESET PASSWORD</button>
  </form>
</div>
