* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: #CCCCCC #f1f1f1;
}


/* Main content */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: calc((100vh - 861px) / 2) 0;
  padding: 60px 0;
}

.container h1 {
  font-family: "Julius Sans One", sans-serif;
  font-size: 2.2rem;
  color: #e66465;
  margin: 0;
}

.container i {
  margin: 30px 0 25px;
  color: #49CB26;
}

.container h2 {
  margin: 0 0 20px;
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
}

.return-buttons {
  display: flex;
}

.return-buttons button {
  font-size: 1rem;
  font-weight: bold;
  font-family: "Stick", sans-serif;
  cursor: pointer;
  border: 2px solid #e66465;
  background-color: white;
  color: #e66465;
  border-radius: 50px;
  transition: 0.3s;
  width: 160px;
  height: 40px;
  margin: 13px 10px 0;
  position: relative;
}

.return-buttons button:last-child {
  background-color: #e66465;
  color: white;
}

.return-buttons button:focus {
  outline: 0;
}

.return-buttons button:hover {
  background-color: #e66465;
  color: white;
}

.return-buttons button:last-child:hover {
  background-color: white;
  color: #e66465;
}

.return-buttons button:hover {
  background-color: #e66465;
}

.return-buttons button:active {
  transform: scale(0.95);
}

.return-buttons button a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  opacity: 0;
}

::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #CCCCCC;
}


/* Media query */
@media (max-height: 950px) {
  .container {
    margin: 50px 0;
  }
}
