.addresses {
  width: 750px;
  display: grid;
  grid-template-columns: 360px 360px;
  grid-gap: 30px;
  display: none;
}

.address {
  background-color: #F2F2F2;
  padding: 20px;
}

.address p {
  color: #333333;
}

.address-info {
  margin-bottom: 40px;
}

.address-info p {
  margin: 5px 0;
}

.address-checkbox {
  display: flex;
  align-items: center;
  margin: 15px 0;
}

.address-checkbox i {
  color: #e66465;
}

.address-checkbox p {
  margin: 0 0 0 5px;
}

.address-buttons {
  margin-top: 40px;
}

.address-buttons button {
  font-size: 1rem;
  font-family: "Stick", sans-serif;
  cursor: pointer;
  border: 2px solid #e66465;
  background-color: white;
  color: #e66465;
  border-radius: 50px;
  transition: 0.3s;
  width: 120px;
  height: 30px;
}

.address-buttons button:last-child {
  background-color: #e66465;
  color: white;
  margin-left: 10px;
}

.address-buttons button:focus {
  outline: 0;
}

.address-buttons button:hover {
  background-color: #e66465;
  color: white;
}

.address-buttons button:last-child:hover {
  background-color: white;
  color: #e66465;
}

.address-buttons button:active {
  transform: scale(0.95);
}

.add-address {
  border: 2px solid #e66465;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-address i {
  cursor: pointer;
  color: #e66465;
}

.add-address i:active {
  transform: scale(0.95);
}

.edit-address-form {
  display: none;
}

.edit-address {
  display: grid;
  grid-template-columns: 360px 360px;
  grid-gap: 30px 40px;
  width: 750px;
}

.edit-address div {
  display: flex;
  flex-direction: column;
}

.edit-address label {
  color:#333333;
}

.edit-address > div > input, .edit-address > div > select {
  border: 2px solid gray;
  width: 100%;
  height: 40px;
  border-radius: 3px;
  font-size: 1rem;
  padding-left: 20px;
  color: gray;
  margin-top: 5px;
}

#country {
  border: 2px solid gray;
  width: 100%;
  height: 40px;
  border-radius: 3px;
  font-size: 1rem;
  color: gray;
  margin-top: 5px !important;
}

.flag-dropdown {
  margin-top: 5px;
}

.edit-address div input:focus, .edit-address > div > select:focus {
  outline: 0;
}

.edit-address div input:hover, .edit-address > div > select:hover {
  border: 2px solid #e66465;
}

.edit-address-checkbox {
  display: flex;
  flex-direction: row !important;
}

.edit-address-checkbox p {
  margin: 0 0 0 10px;
}

.edit-address-checkbox i {
  color: #e66465;
}

.edit-street {
  grid-column-start: 1;
  grid-column-end: 3;
}

.edit-address-button {
  grid-column: 1/3;
  display: flex;
  align-items: center;
}

.edit-address-button button {
  font-size: 1rem;
  font-family: "Stick", sans-serif;
  cursor: pointer;
  border: 2px solid #e66465;
  background-color: white;
  color: #e66465;
  border-radius: 50px;
  transition: 0.3s;
  width: 180px;
  height: 40px;
  margin-top: 20px;
}

.edit-address-button button:focus {
  outline: 0;
}

.edit-address-button button:hover {
  background-color: #e66465;
  color: white;
}

.edit-address-button button:active {
  transform: scale(0.95);
}
