.orders {
  width: 750px;
  display: none;
}

.order-container {
  width: 100%;
  height: 180px;
  border-bottom: 1px solid #e66465;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.order-container p {
  margin: 0;
}

.order-container:first-child {
  border-top: 1px solid #e66465;
}

.order-info {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.order-info h4 {
  margin: 0;
  color: #e66465;
}

.order-info > p {
  color: #333333;
}

.order-date p {
  color: #333333;
}

.order-date p:first-child {
  margin-bottom: 5px;
  color: gray;
}

.order-extra-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: #333333;
}

.order-extra-info a {
  margin-top: 10px;
  text-decoration: none;
  color: #9198e5;
  cursor: pointer;
}

.order-extra-info a:hover {
  color: #7279e6;
}

.order-modal {
  width: 50%;
  min-width: 1000px;
  display: flex;
  justify-content: space-between;
  display: none;
}

.order-modal-products {
  width: 60%;
}

.order-modal-products-container {
  border-bottom: 1px solid #e66465;
  display: flex;
  padding: 10px 0;
}

.order-modal-product-img {
  margin-right: 50px;
}

.order-modal-product-img img {
  width: 130px;
  height: 130px;
}

.order-modal-products-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.order-modal-products-info p {
  color: #333333;
}

.order-modal-products-info a {
  text-decoration: none;
  color: #9198e5;
  font-family: "Julius Sans One", sans-serif;
  font-weight: bold;
  cursor: pointer;
}

.order-modal-products-info a:hover {
  color: #7279e6;
}

.order-modal-products-info p:last-child {
  display: none;
}

.order-modal-products-container:first-child {
  border-top: 1px solid #e66465;
}

.order-modal-info {
  width: 330px;
}

.order-modal-info dd, .order-modal-address p:not(:first-child) {
  color: #333333;
}

.order-modal-details {
  margin-bottom: 20px;
}

.order-modal-address p {
  margin: 0 0 5px 0;
}

.order-modal-info-title {
  margin: 0 !important;
  font-size: 1.1rem;
  font-weight: bold;
  color: #e66465;
  font-family: "Julius Sans One", sans-serif;
}

hr {
  margin: 5px 0 15px 0;
  border: none;
  border-top: 1px solid #e66465;
}

dt {
  float: left;
  margin-right: 5px;
  margin-bottom: 5px;
  color: gray;
}

dd {
  margin-bottom: 5px;
}
